@import url(index.css);
@import url(variables_globales.css);
@import url(card.css);

.barra-navegacion {
  grid-area: principal;
  align-self: center;
  justify-self: center;
}

.barra-navegacion__lista {
  display: flex;
  width: 614px;
  height: 70px;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-gris);
  border-radius: var(--border-radius);
}

.lista__item {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.item__link {
  text-align: center;
  text-decoration: none;
  color: var(--color-blanco);
  padding: 20px 40px;
  flex: 1;
  border-radius: var(--border-radius);
}

.item__link:hover {
  background-color: var(--color-gris-oscuro);
}

.barra-navegacion-area {
  grid-area: modificaciones;
}
/* primera modificacion */

.barra-navegacion__lista--transparente {
  background-color: transparent;
}

/* segunda modificacion */

.item__link--negro {
  color: var(--black);
}

/* tercera modificacion */

.lista__item--bordes {
  border: 1px solid var(--black);
  border-radius: var(--border-radius);
}

/* cuerta modificacion */

.item__link--hover-coral:hover {
  background-color: var(--color-rosa-coral);
}
