@import url(index.css);
@import url(variables_globales.css);
@import url(card.css);

.barra-busqueda {
  grid-area: principal;
  justify-self: center;
  align-self: center;
  height: 50px;
  width: 300px;
  background-color: var(--color-gris);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.barra-busqueda__icono {
  font-size: 30px;
  color: var(--color-blanco);
}

.barra-busqueda__icono:hover {
  padding: 5px;
  border-radius: 50%;
  background-color: var(--color-gris-claro);
}

.barra-busqueda__textarea {
  border: none;
  background-color: var(--color-gris-claro);
  border-radius: var(--border-radius);
  padding: 5px;
  width: 70%;
  outline: none;
}

.barra-busqueda__textarea::placeholder {
  color: var(--color-blanco);
  opacity: 0.9;
}

/* Primera modificacion */

.barra-busqueda--grande {
  height: 60px;
  width: 400px;
  grid-area: modificaciones;
}

/* Segunda modificacion */

.barra-busqueda--fondo-azul {
  background-color: var(--color-azul);
}

/* Tercera modificacion */

.barra-busqueda__icono--pequeño {
  font-size: var(--tamaño-texto);
}

/* Cuarta modificacion */

.barra-busqueda--borde {
  border: 3px solid var(--black);
}
