@import url(style.css);
@import url(variables.css);

body{
  background-color: var(--colorBody);
}

.card{
  margin: 40px auto;
  width: 350px;
  height: 550px;
  background-color: var(--colorRosado);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: var(--fuente);
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.card__titulo{
  font-size: 25px;
  margin-top: var(--margen);
  color: var(--white);
}

.card__imagen{
  margin: var(--margen) 0;
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  border: 2px solid #000;
  filter: drop-shadow(0 0 3px rgb(24, 24, 24));
  transition: 1.5s;
}

.card__imagen:hover{
  transition: 1.5s;
  border-radius: 50%;
}

.card__texto{
  padding: 10px;
  text-align: center;
  color: var(--white);
  font-size: 18px;
}