@import url(variables_globales.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--fuente);
}

body {
  background-color: var(--colorBody);
  height: 100vh;
  display: flex;
}

.menu {
  align-self: center;
  margin: 0 auto;
  width: 600px;
  height: 50px;
  background-color: var(--color-gris);
  border-radius: 10px;
}

.menu__lista {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 40px;
  border: 1px solid #474747;
}

.menu__item:hover {
  background-color: #434343;
}

.menu__link {
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 20px;
}

.menu__item-inicio {
  width: 90px;
  border-radius: 10px 0 0 10px;
}

.menu__item-siguiente {
  width: 110px;
  border-radius: 0px 10px 10px 0;
}
