@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
  --colorRosado: #f780a3;
  --margen: 10px;
  --fuente: "Oswald", sans-serif;
  --black: #000000;
  --colorBody: #fff3de; 
}